@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html/>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>People of the Year!</title>
    <link rel="stylesheet" href="~/Styles.css" />
</head>

@*!!!!!!DON'T FORGET CSS!!!!!!*@

<body>
    <h1>People of the Year!</h1>

    <form method="post">
        <fieldset>
            Select a timespan in years:
            <input name="yearOne" />
            <input name="yearTwo" />
            <input type="submit" value="Search" />
        </fieldset>
    </form>

</body>


</html>